@{
    ViewData["Title"] = "Home Page";
}

<div id="button-container" class="d-flex justify-content-between vh-100 vw-100 text-center">
    <div id="box-1" class="card bg-primary h-25 w-25">1</div>
    <div id="box-2" class="card bg-primary h-25 w-25">2</div>
    <div id="box-3" class="card bg-primary h-25 w-25">3</div>

</div>
